<?xml version="1.0"?>

<model>
  <name>RC Car</name>
  <version>2.0</version>
  <sdf version="1.4">car_model-1_4.sdf</sdf>
  <sdf version="1.5">car_model.sdf</sdf>

  <author>
    <name>Jaewon Seo</name>
    <email>na06219@g.skku.edu </email>
  </author>

  <description>
    RC Car
  </description>
</model>
